body.index {
  margin: 0;
  padding: 0;

  background-color: #bbb;
  font-family: "Hammersmith One", Helvetica, Arial, sans-serif;
}

body.index > header {
  position: fixed;
  bottom: 0;
  right: 0;

  h1 {
    margin-right: 1em;

    a {
      color: #234;

      &:hover {
        color: #789;
      }
    }

    small a {
      color: #777;
      font-weight: 300;
      text-decoration: none;

      &:hover {
        color: #888;
      }
    }
  }
}

body.index > ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    height: 100px;

    font-size: 64px;
    line-height: 100px;

    background-color: #ddd;

    &:hover {
      background-color: #eee;
    }

    a {
      display: block;
      padding: 0 0.5em;

      line-height: 100px;

      color: #444;
      text-decoration: none;
    }

    &:hover a {
      color: #48f;
    }
  }
}
