---
title: Decks
---

<header>
  <h1>Decks by <%= link_to('Dan Tao', 'http://danieltao.com') %></h1>
</header>

<ul>
<% decks.each do |resource| %>
  <li><%= link_to(resource.data['title'], resource) %></li>
<% end %>
</ul>
